<!DOCTYPE html>
<html lang="es">
    <head>
        <title>InnovaTec SRL</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="InnovaTec SRL">
        <meta name="description" content="Sistemas y Telecomunicaciones">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div style="background:#0F4F5E !important" class="jumbotron text-center"><img src="./assets/images/Logo2.png" width="100" height="100">
            <h1 style="color: whitesmoke;">InnovaTec SRL</h1>
            <p style="color: whitesmoke;">Desarrollo de Sistemas y Telecomunicaciones</p> 
          </div>
          
          <div style="color: #222;" class="jumbotron text-center">
            <h2><b>NOSOTROS</b></h2>
            <p>Somos una empresa formada por profesionales.</p>
            <p>Nuestras fortalezas son la percepción de las necesidades de nuestros clientes y el conocimiento de las tecnologías para satisfacerlas.</p>
            <p>Creemos que el éxito de los proyectos está dado por 3 factores fundamentales:</p><br>
            <ul>
                <li><p style="text-align: justify;">La calidad humana de nuestros profesionales, comunicación que posibilita a todos los integrantes, llevar a cabo el proyecto de forma gratificante.</p></li>
                <li><p style="text-align: justify;">El dominio de las últimas tecnologías y metodologías para llevar a cabo el proyecto de manera innovadora, práctica y eficiente.</p></li>
                <li><p style="text-align: justify;">Un detallado relevamiento que nos sirva para comprender el negocio y las necesidades de nuestro cliente, brindándole soluciones y aportando nuevas ideas que agreguen valor a su negocio.</p></li>
            </ul>
        </div>
          <div style="color: rgb(0, 127, 231);" class="jumbotron text-center">
              <h2><b>SERVICIOS</b></h2>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <h3><b>Desarrollo de Aplicaciones Móviles.</b></h3>
                <p style="text-align: justify;">Aplicaciones móviles de Android, iOS personalizadas que incorporan todos sus requisitos comerciales, esenciales y personalizados.</p>
              </div>
              <div class="col-sm-4">
                <h3><b>Desarrollo Web.</b></h3>
                <p style="text-align: justify;">Desarrollamos páginas web, blogs, administrador de contenidos, tienda online, base de datos, mucho más.</p>
                <p style="text-align: justify;">Web usables, amigables, útiles, accesibles. Estamos seguros de que podemos ayudarte a crear el sitio web de tus sueños.</p>
              </div>
              <div class="col-sm-4">
                <h3><b>Desarrollo de Software.</b></h3>        
                <p style="text-align: justify;">Desarrollamos aplicaciones de escritorio principalmente para el sistema operativo Windows.</p>
                <p style="text-align: justify;">Estas interfaces son intuitivas y amigables para los usuario de Windows.</p>
                <p style="text-align: justify;">Además pueden instalarse en una máquina y trabajar de manera aislada, es decir, sin conectarse a una red.</p>
              </div>
              <div class="col-sm-4">
                <h3><b>Mantenimiento Informático.</b></h3>
                <p style="text-align: justify;">Problemas informáticos que le puedan ocasionar su software.</p>
                <p style="text-align: justify;">Le ofrecemos un Servicio de Mantenimiento informático con el fin de mantener los sistemas informáticos en perfecto funcionamiento.</p>
                <p style="text-align: justify;">Instalación y mantenimiento de redes.</p>
              </div>
              <div class="col-sm-4">
                <h3><b>Seguridad Informática.</b></h3>
                <p style="text-align: justify;">Es el ámbito de la Informática que se ocupa de proteger la infraestructura computacional y toda la información contenida.</p>
                <p style="text-align: justify;">Instalación de Antivirus y programas de seguridad contra troyanos, parásitos, spam, phising, malware, redes, acceso a internet y correo electrónnico.</p>
                </div>
              <div class="col-sm-4">
                <h3><b>Cámaras de Seguridad.</b></h3>
                <p style="text-align: justify;">La instalación de cámaras de seguridad, hoy en día, es esencial para el control y la vigilancia de casas particulares, comercios y empresas</p>
                <p style="text-align: justify;">Instalación, configuración de cámaras de seguridad IP, Wi Fi con DVR.</p>
                <p style="text-align: justify;">Mantenimiento de cámaras de seguridad y reemplazo.</p>
                <p style="text-align: justify;">Servicio de configuración de DVRs.</p>
              </div>
              <div class="col-sm-4">
                <h3><b>Diseño y Arquitectura de Redes.</b></h3>
                <p style="text-align: justify;">Una arquitectura de red segura es aquella que cumple con los principios de alta disponibilidad, tolerancia a fallos, con un grado alto de escalabilidad y con una segmentación adecuada que minimicen las vulnerabilidades y el factor de exposición de los equipos, procesos y sistemas del entorno de operaciones.</p>
                <p style="text-align: justify;">Además de un control de acceso adecuado que permita controlar qué entra y qué sale de nuestras redes.</p>
              </div>
              <div class="col-sm-4">
                <h3><b>Dómotica.</b></h3>
                <p style="text-align: justify;">Sistemas capaces de automatizar una vivienda o edificación de cualquier tipo, aportando servicios de gestión energética, seguridad, bienestar y comunicación, y que pueden estar integrados por medio de redes interiores y exteriores de comunicación, cableadas o inalámbricas, desde dentro y fuera del hogar.</p>
                <p style="text-align: justify;">Se podría definir como la integración de la tecnología en el diseño inteligente de un recinto cerrado.</p>
              </div>
              <div class="col-sm-4">
                <h3><b>Redes LAN.</b></h3>
                <p style="text-align: justify;">Las redes de áreas locales (LAN y WLAN) determinan, junto al centro de datos, el rendimiento informático.</p>
                <p style="text-align: justify;">Servicios de configuración e implementación redes LAN-WLAN</p>
              </div>
            </div>
          </div>
    </body>
    <footer>
        <div style="background: #0F4F5E !important" class="jumbotron text-center">
            <h3 style="color: whitesmoke;">Contáctanos</h3>
            <hr>
            <div id="text-4" class="widget widget_text">
                <div class="textwidget">
                    <p style="color: whitesmoke;"><em>Zona San Clemente,</em>
                    <em style="color: whitesmoke;"> Calle America #104</em><br> <em style="color: whitesmoke;">Detrás del Mercado Chuquimia</em><br>
                    <em style="color: whitesmoke;">(Potosí-Bolivia)</em></p><hr>
                    <p><img src="./assets/images/wsp.png" width="40" height="40"><a href="https://api.whatsapp.com/send?phone=+59172401207"><em style="color: whitesmoke;"><b>+591 72401207</b></em></a><br />
                    <img src="./assets/images/fb.png" width="50" height="50"><a href=""><em style="color: whitesmoke;"><b>InnovaTec SRL</b></em></a></p>
                </div>
            </div>
        </div>
    </footer>
</html>