<div class="chat-panel card card-default" class="form">
    <div class="card-header">
        <i class="fa fa-comments fa-fw"></i>
        <b>VALORES</b>
        <div class="pull-center" ngbDropdown>
            <div style="color: #222;" class="jumbotron text-center">
                <p style="text-align: justify;">Los valores que <strong>Clínica Odontológica "Potosí"</strong> promueve entre sus pacientes y empleados se pueden resumir en la búsqueda continua de resultados que satisfagan a todos los miembros de nuestra organización, siempre teniendo en cuenta a nuestros pacientes.</p>
                <p style="text-align: justify;">Reconociendo como miembros a todos los colaboradores, empleados, proveedores, etc., que mes a mes colaboran o desarrollan su labor profesional en nuestro centro.</p>
                <p style="text-align: justify;"><b>Clínica Odontológica "Potosí"</b>, pretende promover la cultura de la salud bucodental, enseñando y orientando a la sociedad hacia un mejor cuidado de nuestra boca.</p>
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <!-- <div class="card-body">
        <ul class="chat">
            <li class="left clearfix">
                <span class="chat-img pull-left">
                    <img alt="User Avatar" class="img-circle" src="http://placehold.it/50/55C1E7/fff" />
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Jack Sparrow</strong>
                        <small class="pull-right text-muted"> <i class="fa fa-clock-o fa-fw"></i> 12 mins ago </small>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis
                        ullamcorper ligula sodales.
                    </p>
                </div>
            </li>
            <li class="right clearfix">
                <span class="chat-img pull-right">
                    <img alt="User Avatar" class="img-circle" src="http://placehold.it/50/FA6F57/fff" />
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <small class="text-muted"> <i class="fa fa-clock-o fa-fw"></i> 13 mins ago </small>
                        <strong class="pull-right primary-font">Bhaumik Patel</strong>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis
                        ullamcorper ligula sodales.
                    </p>
                </div>
            </li>
            <li class="left clearfix">
                <span class="chat-img pull-left">
                    <img alt="User Avatar" class="img-circle" src="http://placehold.it/50/55C1E7/fff" />
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Jack Sparrow</strong>
                        <small class="pull-right text-muted"> <i class="fa fa-clock-o fa-fw"></i> 14 mins ago </small>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis
                        ullamcorper ligula sodales.
                    </p>
                </div>
            </li>
            <li class="right clearfix">
                <span class="chat-img pull-right">
                    <img alt="User Avatar" class="img-circle" src="http://placehold.it/50/FA6F57/fff" />
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <small class="text-muted"> <i class="fa fa-clock-o fa-fw"></i> 15 mins ago </small>
                        <strong class="pull-right primary-font">Bhaumik Patel</strong>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis
                        ullamcorper ligula sodales.
                    </p>
                </div>
            </li>
        </ul>
    </div>
     /.card-body -->
    <!-- <div class="card-footer">
        <div class="input-group">
            <input class="form-control input-sm" id="btn-input" placeholder="Type your message here..." type="text" />
            <span class="input-group-btn">
                <button class="btn btn-warning btn-sm" id="btn-chat">
                    Send
                </button>
            </span>
        </div>
    </div>  -->
    <!-- /.card-footer -->
</div>
