<div [@routerTransition]>
    <app-page-header [heading]="'Registro Pago'" [icon]="'fa-desktop'"></app-page-header>
    
    <div class="d-flex justify-content-center align-items-center container " style="background:linear-gradient(30deg, rgb(20, 220, 177),rgb(21, 163, 104), rgb(8, 139, 226), rgb(20, 220, 177), rgb(3, 156, 156));">
       <div class="card mb-8">
          <div class="container">
            <form class="form-inline my-6 my-lg-0">
                <input aria-label="Buscar" class="form-control mr-sm-2" placeholder="Nombre completo,C.i..." type="search" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
            <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Tratamiento</th>
                        <th>Costo</th>
                        <th>Saldo</th>
                    </tr>
                </thead>
            </table>   
            </div>            
            <div>
            <canvas #firmaelectronica width="500" height="160" style="touch-action: none" style="border: 5px solid #c5c5c5; background-color: #fff;">
            </canvas>
            </div>
            <br>
            <div class="container mt-4" >
            <table  style="margin: 0 auto;">
                <tbody>
                <tr>
                    <td>
                    <button class="btn btn-block btn-danger" (click)="limpiarfirma()">Limpiar</button>
                    </td>
                    <td>
                    <button class="btn btn-block btn-warning" (click)="deshacerfirma()">Deshacer</button>
                    </td>
                    <td>
                    <button class="btn btn-block btn-primary" (click)="guardarImagenpng()">Guardar</button>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
          </div>
       </div>
    </div>
</div>
